<ul class="pageitem">
  <% @users.each do |user| %>
    <li class="textbox">
      <span class="header">
        <% icon = user.enabled ? 'run.png' : 'stop.png' %>
        <%= image_tag icon, :class => 'inline' %>
        <%= h(user.full_name) %>
      </span>
      <% if !user.email.blank? %>
        <a href="mailto:<%= h(user.email) %>"><%= h(user.email) %></a><br>
      <% end %>
      <%= h(user.role.display_name) %>
    </li>
  <% end %>
</ul>
