<form id="page_profile" title="<%= h(t('admin.my_profile.title')) %>" class="panel" action="/iphone/users/profile" method="post" selected="true" redirect="true">
  <%= content_tag :p, flash[:error], :class => 'error' if flash[:error] %>
  
  <fieldset>
    <div class="row">
      <label><%= h(t('admin.my_profile.user_name')) %></label>
      <span><%= h(@current_user.login) %></span>
    </div>
    <div class="row">
      <label for="current_password"><%= h(t('admin.my_profile.current_password')) %></label>
      <input type="password" id="current_password" name="current_password" value=""/>
    </div>
    <div class="row">
      <label for="password"><%= h(t('admin.my_profile.new_password')) %></label>
      <input type="password" id="password" name="password" value=""/>
    </div>
    <div class="row">
      <label for="password_confirmation"><%= h(t('admin.my_profile.confirm_password')) %></label>
      <input type="password" id="password_confirmation" name="password_confirmation" value=""/>
    </div>
  </fieldset>
  <a class="whiteButton" type="submit" href="#" target="_self"><%= h(t('form.button.save')) %></a>
</form>