<% @page_title = t('admin.dashboard.title') %>

<% javascript_tag do -%>
Ext.onReady(function() {

  var introPanel = new Ext.Panel({
    title: '<%= tjs('admin.dashboard.intro.title') %>',
    collapsible: true,
    region: 'north',
    stateId: 'introPanel',
    html: '<p>' + '<%= tjs('admin.dashboard.intro.text') %>' + '</p>'
  });
  
  var storeData = <%= @stats_data.to_json %> ;
  
  var store = new Ext.data.ArrayStore({
    fields: [{
      name: 'parameter'
    }, {
      name: 'value'
    }]
  });
  
  store.loadData(storeData);
  
  var statsGrid = new Ext.grid.GridPanel({
    id: 'statsGrid',
    title: '<%= tjs('admin.dashboard.stats_grid.title') %>',
    iconCls: 'icon-items-list',
    region: 'center',
    store: store,
    autoWidth: true,
    stripeRows: true,
    autoExpandColumn: 'value',
    cm: new Ext.grid.ColumnModel([{
      id: 'parameter',
      header: '<%= tjs('admin.dashboard.stats_grid.column.parameter') %>',
      width: 250,
      sortable: true,
      dataIndex: 'parameter'
    }, {
      id: 'value',
      header: '<%= tjs('admin.dashboard.stats_grid.column.value') %>',
      sortable: true,
      dataIndex: 'value'
    }])    
  });
  
  var container = new Ext.Container({
    layout: 'border',
    items: [ introPanel, statsGrid ]
  });
  
  Owp.layout.addToCenter(container);
});
<% end -%>

