<% @page_title = t('admin.users.title') %>
<% @page_icon = 'user.png' %>

<% javascript_tag do -%>
Ext.onReady(function() {

  function showUserEditForm(mode) {
    var formEditUser = new Owp.form.BasicForm({
      labelWidth: 150,
      waitMsgTarget: !Ext.isGecko,
      url: '<%= url_for :controller => 'admin/users', :action => 'update' %>',
      autoHeight: true,
      defaults: { width: 200 },
      keys: [{
        key: Ext.EventObject.ENTER,
        fn: function() {
          windowEditUser.submitButton.handler();
        }
      }],
      items: [{
        name: 'id',
        xtype: 'hidden'
      }, {
        fieldLabel: '<%= tjs('admin.users.form.create.field.login') %>',
        name: 'login',
        xtype: ('add' == mode) ? 'textfield' : 'displayfield',
        allowBlank: ('edit' == mode)
      }, <% if !external_auth? %> {
        fieldLabel: '<%= tjs('admin.users.form.create.field.password') %>',
        name: 'password',
        inputType: 'password',
        allowBlank: ('edit' == mode)
      }, {
        fieldLabel: '<%= tjs('admin.users.form.create.field.confirm_password') %>',
        name: 'password_confirmation',
        inputType: 'password',
        allowBlank: ('edit' == mode)
      }, <% end -%> {
        fieldLabel: '<%= tjs('admin.users.form.create.field.contact_name') %>',
        name: 'contact_name',
        inputType: 'textfield'
      }, {
        fieldLabel: '<%= tjs('admin.users.form.create.field.email') %>',
        name: 'email',
        inputType: 'textfield',
        vtype: 'email'
      }, {
        fieldLabel: '<%= tjs('admin.users.form.create.field.role') %>',
        name: 'role_id',
        xtype: 'combo',
        resizable: true,
        allowBlank: false,
        editable: false,
        mode: 'local',
        forceSelection: true,
        triggerAction: 'all',
        displayField: 'role_name',
        valueField: 'role_id',
        hiddenName: 'role_id',
        emptyText: '<%= tjs('admin.users.form.create.field.select_role') %>',
        store: new Ext.data.ArrayStore({
          fields: ['role_id', 'role_name'],
          data: <%= Role.find(:all).map { |role| [role.id, role.display_name] }.to_json %>
        })
      }]
    });
    
    var windowEditUser = new Owp.form.BasicFormWindow({
      title: ('add' == mode)
        ? '<%= tjs('admin.users.form.create.title') %>'
        : '<%= tjs('admin.users.form.create.edit_title') %>',
      iconCls: ('add' == mode) ? 'icon-window-add' : 'icon-window-edit',
      width: 410,
      autoHeight: true,
      modal: true,
      layout: 'fit',
      plain: true,
      bodyStyle: 'padding: 5px;',
      resizable: false,
      items: formEditUser,
      buttons: [{
        text: ('add' == mode)
          ? '<%= tjs('admin.users.form.create.button_create') %>'
          : '<%= tjs('form.button.save') %>',
        iconCls: ('add' == mode) ? 'icon-button-add' : 'icon-button-save',
        ref: '../submitButton',
        handler: function() {
          formEditUser.form.submit({
            waitMsg: '<%= tjs('form.loading') %>',
            success: function() {
              usersGrid.store.reload();
              windowEditUser.close();
              usersGrid.getSelectionModel().clearSelections();
            },
            failure: function(form, action) {
              Owp.form.errorHandler(form, action);
            }
          });
        }
      }, {
        text: '<%= tjs('form.button.cancel') %>',
        iconCls: 'icon-button-cancel',
        handler: function() {
          windowEditUser.close();
        }
      }]
    });
    
    windowEditUser.on('show', function() {
      if ('add' == mode) {
        formEditUser.getForm().reset();
        windowEditUser.focus();
      } else {
        var selectedNode = Ext.getCmp('usersGrid').getSelectionModel().getSelected();
        formEditUser.getForm().load({
          waitMsg: '<%= tjs('form.loading') %>',
          success: function() {
            windowEditUser.focus();
          },
          url: '<%= url_for :controller => 'admin/users', :action => 'load_data' %>',
          params: {
            id: selectedNode.id
          }
        });
        formEditUser.getForm().findField('id').setValue(selectedNode.id);
      }
    });
    
    windowEditUser.show();
  }

  function addUser() {
    showUserEditForm('add');
  }
  
  function editUser() {
    showUserEditForm('edit');
  }
  
  function removeUser() {
    Ext.MessageBox.confirm(
      '<%= tjs('form.confirmation') %>',
      '<%= tjs('admin.users.form.remove_user.sure_to_remove') %>',
      function(button, text) {
        if ('yes' == button) { 
          Owp.list.groupAction({
            gridName: 'usersGrid',
            url: '<%= url_for :controller => 'admin/users', :action => 'delete' %>',
            waitMsg: '<%= tjs('form.performing_task') %>',
            failure: {
              title: '<%= tjs('form.error.title') %>',
              msg: '<%= tjs('admin.users.form.remove_user.deletion_failed') %>'
            }
          });
        }
      }
    );
  }
  
  var changeUserState = function(action) {
    Owp.list.groupAction({
      gridName: 'usersGrid',
      url: BASE_URL + '/admin/users/' + action,
      command: action,
      waitMsg: '<%= tjs('form.performing_task') %>',
      failure: {
        title: '<%= tjs('form.error.title') %>',
        msg: '<%= tjs('admin.users.form.change_state.failed') %>'
      }
    });
  }

  var store = new Ext.data.JsonStore({
    url: '<%= url_for :controller => 'admin/users', :action => 'list_data' %>',
    root: 'data',
    data: <%= { :data => @users_list }.to_json %>,
    autoLoad: true,
    sortInfo: { field: 'login', direction: 'ASC' },
    fields: [
      { name: 'id' },
      { name: 'enabled' },
      { name: 'login' },
      { name: 'role' },
      { name: 'created_at' },
      { name: 'contact_name' },
      { name: 'email' }
    ]
  });

  var selectionModel = new Ext.grid.CheckboxSelectionModel({
    renderer: function(value, metaData, record) {
      if ('admin' == record.get('login')) {
        return;
      }
      return Ext.grid.CheckboxSelectionModel.prototype.renderer.apply(this, arguments);
    },
    listeners: {
      beforerowselect: function(selectionModel, rowIndex, keepExisting, record) {
          if ('admin' == record.get('login')) {
            return false;
          }
      },
      selectionchange: function(selectionModel) {
        if (selectionModel.getCount()) {
          usersGrid.removeButton.enable();
          usersGrid.enableButton.enable();
          usersGrid.disableButton.enable();
        } else {
          usersGrid.removeButton.disable();
          usersGrid.enableButton.disable();
          usersGrid.disableButton.disable();
        }
        
        if (1 == selectionModel.getCount()) {
          usersGrid.editButton.enable();
        } else {
          usersGrid.editButton.disable();
        }
      }
    }
  });

  var usersGrid = new Ext.grid.GridPanel({
    id: 'usersGrid',
    store: store,
    title: '<%= tjs('admin.users.grid.title') %>',
    loadMask: true,
    tools: [{ 
      id: 'refresh',
      handler: function() {
        usersGrid.getStore().reload();
      }
    }],
    cm: new Ext.grid.ColumnModel([
      selectionModel,
      {
        id: 'enabled',
        header: '<%= tjs('admin.users.grid.column.enabled') %>',
        renderer: function(value) {
          var image = value ? 'run.png' : 'stop.png';
          return '<img src="' + BASE_URL + '/images/' + image + '"/>';
        },
        width: 60,
        align: 'center',
        sortable: true,
        dataIndex: 'enabled'
      }, {
        id: 'login',
        header: '<%= tjs('admin.users.grid.column.login') %>',
        sortable: true,
        dataIndex: 'login'
      }, {
        id: 'contact_name',
        header: '<%= tjs('admin.users.grid.column.contact_name') %>',
        sortable: true,
        width: 180,
        dataIndex: 'contact_name'
      }, {
        id: 'email',
        header: '<%= tjs('admin.users.grid.column.email') %>',
        sortable: true,
        width: 180,
        dataIndex: 'email',
        renderer: function(value, metaData, record) {
          return value
            ? '<a href="mailto:' + value + '">' + value + '</a>'
            : '';
        }
      }, {
        id: 'role',
        header: '<%= tjs('admin.users.grid.column.role') %>',
        sortable: true,
        dataIndex: 'role'
      }, {
        id: 'created_at',
        header: '<%= tjs('admin.users.grid.column.created_at') %>',
        width: 130,
        sortable: true,
        dataIndex: 'created_at'
      }
    ]),
    sm: selectionModel,
    stripeRows: true,
    autoExpandColumn: 'role',
    autoWidth: true,
    stripeRows: true,
    frame: true,
    iconCls: 'icon-items-list',
    tbar: [{
      text: '<%= tjs('admin.users.grid.button.add') %>',
      handler: addUser,
      cls: 'x-btn-text-icon',
      icon: '<%= image_path 'add.png' %>'
    }, {
      text: '<%= tjs('admin.users.grid.button.remove') %>',
      handler: removeUser,
      cls: 'x-btn-text-icon',
      icon: '<%= image_path 'delete.png' %>',
      ref: '../removeButton',
      disabled: true
    }, {
      text: '<%= tjs('admin.users.grid.button.edit') %>',
      handler: editUser,
      cls: 'x-btn-text-icon',
      icon: '<%= image_path 'wrench.png' %>',
      ref: '../editButton',
      disabled: true
    }, '-', {
      text: '<%= tjs('admin.users.grid.button.enable') %>',
      handler: changeUserState.createCallback('enable'),
      cls: 'x-btn-text-icon',
      icon: '<%= image_path 'run.png' %>',
      ref: '../enableButton',
      disabled: true
    }, {
      text: '<%= tjs('admin.users.grid.button.disable') %>',
      handler: changeUserState.createCallback('disable'),
      cls: 'x-btn-text-icon',
      icon: '<%= image_path 'stop.png' %>',
      ref: '../disableButton',
      disabled: true
    }]
  });

  Owp.layout.addToCenter(usersGrid);
  
  var mainContentCenterPanel = Ext.getCmp('mainContentCenterPanel');
  
  mainContentCenterPanel.getTopToolbar().insertButton(0, {
    text: '<%= tjs('admin.users.top_toolbar.roles') %>',
    icon: '<%= image_path 'user_suit.png' %>',
    handler: function() {
      document.location.href = '<%= url_for :controller => 'admin/roles', :action => 'list' %>';
    }
  });
  
  mainContentCenterPanel.doLayout();
});
<% end -%>
