<ul class="pageitem">
  <% @events.each do |event| %>
    <li class="textbox">
      <span class="header">
        <%
          icon = 'exclamation.png'
          icon = 'bug.png' if 0 == event[:level]
          icon = 'information.png' if 1 == event[:level]
        %>
        <%= '<img class="inline" src="/images/' + icon + '"/>' %>
        #<%= h(event[:id]) %> - <%= h(event[:created_at]) %>
      </span>
      <%= event[:message] %><br/>
      <span class="ip_address"><%= h(event[:ip_address]) %></span>
    </li>
  <% end %>
</ul>