<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= @page_title + ' - ' + @product_name %></title>
    <link rel="shortcut icon" href="<%= "#{base_url}/favicon.ico" %>"/>
    <%= stylesheet_link_tag @extjs_base_url + '/resources/css/ext-all.css' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_tag "var BASE_URL = '#{base_url}';" %>
    <%= javascript_include_tag @extjs_base_url + '/adapter/ext/ext-base.js' %>
    <%= javascript_include_tag @extjs_base_url + '/ext-all.js' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '/ext/locale/ext-lang-' + I18n.locale.to_s + '.js' %>
  </head>
<body>
