<%= render :partial => 'layouts/header' %>
  
  <% javascript_tag do -%>
    Ext.onReady(function() {
      var viewport = new Ext.Viewport({
        layout: 'border',
        items: [
          new Ext.BoxComponent({
            region: 'north',
            id: 'top-header',
            cls: 'x-panel-header',
            html: '<%= escape_javascript(render :partial => 'layouts/top_header') %>',
            height: 50,
            listeners: {
              afterrender: function() {
                <%= render :partial => 'layouts/about_box' %>
              }
            }
          }), {
            region: 'center',
            contentEl: 'main-content',
            bodyStyle: 'background: #3D71B8 url(<%= image_path 'desktop.jpg' %>) no-repeat scroll left top'
        }]
      });
    });
  <% end -%>
    
  <div id='main-content'>
    <%= yield %>
  </div>

<%= render :partial => 'layouts/footer' %>
