<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @product_name %></title>
  <meta name="viewport" content="width=devicewidth; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <link rel="apple-touch-icon" href="/images/logo-touch-icon.png" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag '/iwebkit/css/style.css' %>
  <%= javascript_include_tag '/iwebkit/javascript/functions.js' %>
</head>

<body>
  <div id="topbar">
    <div id="title"><%= @page_title %></div>
  </div>
  
  <div id="content">
    <% if flash[:error] %>
      <ul class="pageitem"><li class="textbox"><%= h(flash[:error]) %></li></ul>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>
